@CHARSET "ISO-8859-1";

legend{
	padding: 0px 20px !important;
}
.margin{
	width: 			80%;
	margin:			auto;
	position:		relative;
	border:			1px solid #ececec;
}

.divHead{
	background:		#666;
	height:			170px;
	text-align:		left;
	padding:		40px 0px 0px 40px;
}
.clSloganPrincipal{
	font-family:	"Century Gothic";
	font-size:		35pt;
	text-shadow:	1px 1px 1px white;
	letter-spacing: 1px;
	color:			white;	
}
.clSloganLegenda{
	font-family:	"Century Gothic";
	font-size:		10pt;
	text-shadow:	1px 1px 1px white;
	letter-spacing: 1px;
	color:			white;	
}
.clMenuNav{
	border-radius:	0px !important;
	margin-bottom: 	0px;
}
.divContent{
	min-height:		450px;
	padding:		40px 0px;
	position: 		relative;
}
.divRodape{
	background:		#666;
	color:			white;
	padding:		20px 0px;
	text-align:		center;
}
.clMenuPrincipal{
	margin:			auto;
}
.divMenu{
	display:		table;
	font-weight: 	bold;
	color:			#666;
	margin:			auto;
}
.divMenu div{
	float:			left;
	*border:			1px solid #666;
	padding:		25px 40px;
	margin:			0px 15px;
	font-size:		16px;
	font-family: 	"Century Gothic";
	background:		#ddd;
	color:			#444;
	box-shadow:		2px 2px 3px #666;
}
.divMenu div:hover{
	background:		#666;
	color:			white;
	text-shadow:	2px 2px 2px black;
}

.clTblCliente{
	border:			1px solid #ececec;
	margin:			auto;
}

.clTblCliente th{
	padding:		5px 10px;	
}


.clOpcoesCrud{
	margin:			10px 50px;
}
.clIcon{
	font-size:		30pt;	
}
.table{
	width: 90%;
	margin: auto;
}
.table td{
	border: 1px solid #ddd;
}
.table thead tr{
	background: #2b3e8c;
	color: #fff;
}